@media (max-width:768px){
     header{
        width: 100%;
        height: 400px !important;

    }
    header .navigation{
        display: none;

    }
    #bi-list{
        display: inline-block;
    }
    .menu-bar{
        display: inline-block;
    }
    .logo{
        width: 30% !important;
    }
    header .content .title h3 {
        font-size: 35px;
    }
    header .content .title p{
        font-size: 16px;
    }





    .card-section {
        width: 100%;
    }
    .card-section .card-container {
        width: 100% !important;
        
    }
    .card-section .card-container .box{
        width: 60% !important;
    }
    .card-section .card-container .box .image img{
        width: 170px !important;
    }
    .card-section .card-container .box   .overlay {
        width: 85% !important;
        height: 38% !important;
        margin: -114% .2% !important;
    }
    .card-section .card-container .box:last-child {
        height: 230px !important;
        width: 50% !important;
    }
    .card-section .card-container .box:last-child .overlay {
        width: 100%!important;
        height: 100% !important;
        margin: -10%;
    }
    .card-section .card-container .box:last-child .content{
        margin-top: 0;
    }
    .card-section .card-container .box:last-child .content h1{
        font-size: 17px !important;
    }
    .card-section .card-container .box:last-child .content i {
         font-size: 30px !important;
    }
    .card-section .card-container .box  .content{
        position: absolute;
        margin-top: 80%;
         
    }
    .card-section .card-container .box  .content  h1{
          font-size: 20px;
    }
    .card-section .card-container .box  .content p{
        font-size: 16px;
    }

     

   
}



@media (max-width:991px){
    header{
        width: 100%;
        height: 500px;

    }
    header .navigation{
        display: none;

    }
    #bi-list{
        display: inline-block;
    }
    .menu-bar{
        display: inline-block;
    }
    .logo{
        width: 30% !important;
    }
    header .content .title h3 {
        font-size: 35px;
    }
    header .content .title p{
        font-size: 16px;
    }

    


    .card-section {
        width: 100% !important;
        margin: -20% 2% !important;
    }
    .card-section .card-container {
        width: 85% !important;
        
        
    }
    .card-section .card-container .box{
        width: 80% !important;
        height: 100% !important;
    }
    .card-section .card-container .box .image img{
        width: 200px !important;
        height: 300px !important;
        overflow: hidden !important;
    }
    .card-section .card-container .box   .overlay {
        width: 90% !important;
        height: 49% !important;
        margin: -137% .5% !important;
        
    }
    .card-section .card-container .box:last-child {
        height: 300px !important;
        width: 70% !important;
    }
    .card-section .card-container .box:last-child .overlay {
        width: 100%!important;
        height: 100% !important;
        margin: -10%;
    }
    .card-section .card-container .box:last-child .content{
        margin-top: 0;
    }
    .card-section .card-container .box:last-child .content h1{
        font-size: 17px !important;
    }
    .card-section .card-container .box:last-child .content i {
         font-size: 30px !important;
    }
    .card-section .card-container .box  .content{
        position: absolute;
        margin-top: 80%;
         
    }
    .card-section .card-container .box  .content  h1{
          font-size: 20px;
    }
    .card-section .card-container .box  .content p{
        font-size: 16px;
    }
    
}

















@media (max-width:1200px) {
    header{
        width: 100%;
        

    }
    header .navigation{
         width: 40%;

    }
    .logo{
        width: 15% !important;
    }
    header .content {
        width: 60% !important;
    }
    .card-section .card-container .box   .overlay {
        width: 87% !important;
        height: 56% !important;
        margin: -118% .5% !important;
        
    }

    .card-section .card-container .box:last-child .overlay {
        width: 100%!important;
        height: 100% !important;
        margin: -10%;
    }
}














@media (max-width:1400px) {
    header{
        width: 100%;
        height: 650px;
        

    }
    header .navigation{
         width: 40%;

    }
    .logo{
        width: 15% !important;
    }
    header .content {
        width: 60% !important;
    }

    .card-section {
        width: 100%;
    }
    .card-section .card-container {
        width: 90%;
    }
    .card-section .card-container .box{
        width: 50%;
    }
    .card-section .card-container .box .image img{
        width: 250px;
    }
    .card-section .card-container .box   .overlay {
        width: 78%;
        height: 55%;
        margin: -104% .5%;
    }
    .card-section .card-container .box:last-child {
        height: 325px;
        width: 40%;
    }
    .card-section .card-container .box:last-child .overlay {
        margin: -10%;
    }
    .card-section .card-container .box:last-child .content{
        margin-top: 0;
    }
    .card-section .card-container .box:last-child .content h1{
        font-size: 30px;
    }
    .card-section .card-container .box  .content{
        position: absolute;
        margin-top: 80%;
         
    }
    .card-section .card-container .box  .content  h1{
          font-size: 20px;
    }
    .card-section .card-container .box  .content p{
        font-size: 16px;
    }
 
}

 

 